<section class="change-password-form">
  <div class="authentication-form-title">
    <form class="auth-form">

  <div class="form-group">
    <label for="previous">Old Password</label>
    {{input required="required" type="password"
    class="form-control"
    id="previous"
    placeholder="Old password"
    value=passwords.previous
    required="required"}}
  </div>

  <div class="form-group">
    <label for="next">New Password</label>
    {{input required="required" type="password"
    class="form-control"
    id="next"
    placeholder="New password"
    value=passwords.next
    required="required"}}
  </div>
</form>

  <div class="bottom-btn">
    <button type="submit" class="btn btn-primary" {{action "submit"}}>
      Change Password
    </button>
    <button class="btn btn-default" {{action "reset"}}>
      Reset
    </button>
  </div>
</div>
</section>
