@import 'bootstrap';
@import 'bootstrap/theme';

@import 'color';



body {
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  // text-transform: uppercase;
  // margin: .3em 0;
}

// a {
//   color: $black;
// }
//
// a:hover {
//   text-decoration: none;
// }

// h1,
// h2 {
//   font-family: 'Playfair Display', serif;
//   text-transform: none;
// }

h1 h2 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 36px;
	line-height: 40px;
	padding: 15px 15px 15px 15%;
	color: #355681;
	box-shadow:
		inset 0 0 0 1px rgba(53,86,129, 0.4),
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 0 10px 0 10px;
}

.meta-line {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  width: 250px;
}

.navbar {
  margin-top: 5px;
}

.navbar-brand .form-title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
//
// textarea { resize: vertical; }

// .sidebar-wrapper {
//
// }

// .sidebar-nav {
//   list-style: none;
//   margin-top: 75px;
//   padding-left: 50px;
//   top: 0;
//
//   li {
//     background-color: $nav-btns;
//     border: 1px solid $nav-btns;
//     border-radius: 5px;
//     line-height: 40px;
//     list-style-position: inside;
//     margin: 7px;
//     text-align: center;
//     width: 150px;
//
//     a {
//       color: $white;
//     }
//
//     a:hover {
//       color: $olive;
//     }
//   }
// }

.content {
  margin: 50px 30px 70px;
}

.sign-forms {
  margin-left: 70px;
}

.category-list,
.conversations-list {
  margin: 20px 0 0 50px;

  h4 {
    margin: 25px 0;
  }

  a:hover {
    color: $redish;
  }
}

.post-item-form {
  margin: 20px;
  button:hover {
    color: $olive;
  }
}

.post-item-button,
.edit-item-button,
.post-message-button,
.sign-in-button,
.sign-up-button {
  background-color: $blueish;
  color: $white;
}

.cancel-button {
  background-color: $light-brown;
  color: $white;
}

.my-items-list {
  margin: 20px;

  li {
    border-bottom: 1px solid $black;
    list-style: none;
    // width: 275px;
    margin: 10px;
    padding: 10px;
  }

  .my-items-buttons {
    margin: 10px 0 0 30px;
    // text-align: right;

    .delete-button {
      background-color: $redish;
      color: $white;
      margin-top: 2px;
    }

    .edit-button {
      background-color: $greenish;
      color: $white;
      margin-top: 2px;
    }

    button:hover {
      color: $black;
      background-color: yellow;
    }
  }
}



.category-items-list {
  font-size: 16px;
  margin: 15px;

  li {
    list-style: none;
    margin: 10px 0;
    padding: 5px 0;
  }

  a:hover {
    color: $greenish;
  }
}

.single-item {
  margin: 20px 0 0 50px;

  .location {
    font-size: 20px;
    font-weight: bold;
  }
}


.conversation-form-design {
  background-color: #FEFEFE;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 750px;
}

.conversation-messages-list {
  ul {
    border-radius: 5px;
    padding: 10px;

    li {
      list-style: none;
      margin: 5px;
    }
  }

  .owner-message {
    color: $owner-message;
    text-align: right;
  }

  .other-message {
    color: $other-message;
  }
}



.website-logo {
  float: left;
  height: auto;
  max-height: 37px;
  margin-top: -10px;
  margin-right: 7px;
}

.welcome-info {
  background-color: $grey;
  color: $red;
  border-radius: 15px;
  font-size: 21px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding: 2px;
  text-align: center;
  width: auto;
}

.modal-header {
  text-align:center;
  background-color: $blueish;
}

.modal-footer {
  background-color: #DDD7C3;
}

.auth-form {
  padding: 50px;
  text-align: left;
}

#sign-in-modal {
  position: fixed;
  border: 10px solid #000;
  // background-image: url(https://www.vanermuseet.se/wp-content/uploads/2017/03/19fd88b79ea7d8bf32a31e9938bf211c.jpg)
}

// .auth-modal-body {
//   background-image:url(http://17026-presscdn-0-98.pagely.netdna-cdn.com/wp-content/uploads/sites/11/shutterstock_237595765-634x0-c-default.jpg);
//   max-width: 100%;
//   max-height: 100%;
// }

#sign-up-modal {
  position: fixed;
  border: 10px solid #000;
  // background-image:url(http://marketingland.com/wp-content/ml-loads/2015/11/ss-sharing-share-800x450.jpg);

}

// modal alternative
.landing-image {
  max-width: 100%;
  max-height: 90%;
  padding-bottom: 5px;
  padding-top: 5px;
}
.content-image {

    max-width: 100%;
    max-height: 90%;
    padding-bottom: 5px;
    padding-top: 5px;
  }

// section {
//   align-items: center;
// }

.post-item-form-design {
  background-color: #EFEBD5;
  border: 3px;
  border-radius: 15px;
  color: #555555;
  margin: 30px auto;
  max-width: 750px;
  padding: 20px;
  text-align: left;
}


.edit-item-form-design {
  background-color: #EFEBD5;
  border-radius: 15px;
  max-width: 750px;
  padding: 8px;
  text-align: left;
}

.view-item-form {
  background-color: #EFEBD5;
  border-radius: 15px;
  max-width: 750px;
  padding: 8px;
  text-align: left;
}

.bottom-btn {
  text-align: center;
}

#user-input-btn {
  margin: 20px 0;
}


.post-form-design {
  background-color: #EFEBD5;
  border: 3px;
  border-radius: 15px;
  color: #555555;
  margin: 30px auto;
  max-width: 750px;
  padding-top: 20px;
  text-align: center;
}

.change-password-form {
  background-color: #EFEBD5;
  border: 3px;
  border-radius: 15px;
  color: #555555;
  margin: 30px auto;
  max-width: 750px;
  padding-top: 20px;
  text-align: left;
}



.edit-conversation-form-design {
  background-color: #EFEBD5;
  border: 3px;
  border-radius: 15px;
  color: #555555;
  margin: 30px auto;
  max-width: 750px;
  padding: 20px;
  text-align: left;
}

// .authentication-form-title {
//   color: #ffffff;
// }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 5px;
}

.table-header {
  background-color: #EFEBD5;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
