$background: rgba(0, 0, 0, .03);


$white: #FFF;

$mediumgrey: #46484A;
$lightgrey: #BFBFBF;
$lightergrey: #D9D9D9;

$darkgreen: #294022;
$sage: #508569;
$lightgreen: #7B9653;
$pink: #F0184A;
$gold: #AD6316;
$black: #000;
$red: #a50d0d;
$grey: #b7b7b2;
$gold: #edc525;
$white: #fff;
$orange: #db6e08;
$purple: #56037c;
$dark-blue: #02074c;
$blue: #101ff2;
$light-blue: #99e8ef;
$teal: #8af2d9;
$sky-blue: #6aebf2;
$light-grey: #bcbcbc;
$dark-grey: #595555;
$dark-orange: #9e4801;
$white: #fff;
$link-water: #ced0d6;
$med-gray: #5c6670;
$black: #000;
$brown: #4a3636;
$light-brown: #a39592;
$lighter-brown: #d9cecc;
$olive: #b0afa5;
$redish: #9c414e;
$greenish: #6e9985;
$blueish: #62a0bb;
$owner-message: #6f737a;
$other-message: #806d75;
$background: #ece6e5;
$nav-btns: #5a6a76;
