
.my-items-list {
  margin: 20px;

  li {
    border-bottom: 1px solid $black;
    list-style: none;
    // width: 275px;
    margin: 10px;
    padding: 10px;
  }

  .my-items-buttons {
    margin: 10px 0 0 30px;
    text-align: right;

    .delete-button {
      background-color: $redish;
      color: $white;
      margin-top: 2px;
    }

    .edit-button {
      background-color: $greenish;
      color: $white;
      margin-top: 2px;
    }

    button:hover {
      color: $background;
    }
  }
}


.single-item {
  margin: 20px 0 0 50px;

  .location {
    font-size: 20px;
    font-weight: bold;
  }
}


.item {
  width: 80%;
  font-size: 1.2em;
  margin: 20px auto;
  border-bottom: $lightergrey solid 1px;
  text-align: left;
  padding: 0 15px;
}

.add-item-form {
  float: left;
  width: 80%;
  margin-left: 10px;
}

.show-form {
  visibility: visible;
}

.hide-form {
  visibility: hidden;
}
