<h2>Edit Item </h2>
  <h4>( ID: {{model.item.id}} )</h4>
<div class="meta-line"></div>
<div class="edit-item-form">
  {{edit-item-form submit="save"
                   back="back"
                   categories=model.categories
                   item=model.item}}
</div>
